<div id="form">
    <h2>Sign up</h2>
    <form action="/signUp" method="post">
        <label>
            Username <input type="text" name="username" placeholder="write your username here" />
        </label>
        <label>
            Password <input type="text" name="password" placeholder="write your password here" />
        </label>
        <button type="submit">Create user</button>
    </form>
</div>